{{> header}}

{{> navBar}}

<div class="row">
    <div class="col-6">
        <h1>Departamento color Negro</h1>
        <p>Hermoso departamento en Puerto Maderos estilo 
            industrial y tonalidad de color negro.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/departamento.jpg" class="img-thumbnail" alt="">
    </div>
</div>   

{{> footer}}